*{
    font-family: "SUSE Mono", sans-serif;
    margin: 0;
    padding: 0;
}
footer{
height: 100vh;
display: flex;
align-items: end;
}
section{
    width: 100%;
    background-color: black;
}
#firDiv{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 150px;
}
ul{
list-style-type: none;
}
#kfc{
    width: 65px;
    height: 50px;
}
.play{
    width: 140px;
    height: 40px;
}
h3{
    color: white;
}
a{
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
#map{
    text-decoration: none;
    margin-top: 0;
}
.fa-location-dot{
    color: red;
}